@import './reset.css';

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

#nprogress {
  z-index: 10000;
  position: fixed;
}

#nprogress .bar {
  background: #2db050;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 20px #2db050, 0 0 10px #2db050;
}

#nprogress .spinner {
  right: auto;
  left: 0.25rem;
  top: 0.25rem;
}

#nprogress .spinner-icon {
  border-top-color: #2db050;
  border-left-color: #2db050;
}
